body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 375px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #f3f3f3; } }

table.body {
  background: #f3f3f3;
  height: 100%;
  width: 100%; }

table.container {
  background: transparent;
  width: 375px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 16px; }

th.columns.last {
  padding-right: 16px; }

th.columns table {
  width: 100%; }

th.large-6 {
  width: 171.5px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-6.first {
  padding-left: 16px; }

th.large-6.last {
  padding-right: 16px; }

th.large-6 center {
  min-width: 139.5px; }

th.large-12 {
  width: 359px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-12.first {
  padding-left: 16px; }

th.large-12.last {
  padding-right: 16px; }

.collapse > tbody > tr > th.large-12 {
  padding-right: 0;
  padding-left: 0;
  width: 375px; }

.collapse th.large-12.first,
.collapse th.large-12.last {
  width: 383px; }

th.large-12 center {
  min-width: 327px; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

th.text-center,
h1.text-center,
h2.text-center,
p.text-center {
  text-align: center; }

img.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

table.float-center,
th.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

body,
table.body,
h1,
h2,
p,
td,
th {
  color: #0a0a0a;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2 {
  color: inherit;
  word-wrap: normal;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }
  p.lead {
    font-size: 20px;
    line-height: 1.6; }

a {
  color: #F42534;
  text-decoration: none;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #db0b1a; }
  a:active {
    color: #db0b1a; }
  a:visited {
    color: #F42534; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #f3f3f3;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

table.menu {
  width: 375px; }
  table.menu th.menu-item {
    padding: 10px;
    padding-right: 10px; }
    table.menu th.menu-item a {
      color: #F42534; }

table.menu.vertical th.menu-item {
  padding: 10px;
  padding-right: 0;
  display: block; }
  table.menu.vertical th.menu-item a {
    width: 100%; }

.menu[align="center"] {
  width: auto; }

.menu.vertical .menu-item {
  padding-left: 0 !important;
  padding-right: 0 !important; }

@media only screen and (max-width: 391px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
  table.body .collapse .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  table.menu {
    width: 100% !important; }
    table.menu td,
    table.menu th {
      width: auto !important;
      display: inline-block !important; }
    table.menu.vertical td,
    table.menu.vertical th {
      display: block !important; }
  table.menu[align="center"] {
    width: auto !important; } }

/* Template custom */
/* Coopeuch */
p {
  color: #646569;
  width: 304px;
  margin: auto; }

a {
  color: #F42534 !important; }

hr {
  border: 0;
  border-top: 1px solid #CCC; }

/* Header */
.container-client {
  background-color: #FFF !important; }
  .container-client p {
    font-size: 12px; }

.header {
  background-color: #F42534; }
  .header img {
    width: 98px;
    margin-top: 8px;
    margin-bottom: 8px; }
  .header th.columns {
    padding-bottom: 0; }

.top-img th.large-12.last {
  padding-right: 0; }

.top-img th.large-12.first {
  padding-left: 0; }

.top-img .img {
  padding-bottom: 0; }

.message {
  background-color: #FFF; }
  .message h1 {
    color: #564B52;
    font-size: 14px;
    text-align: center; }
  .message p {
    font-size: 12px;
    margin-bottom: 0; }
  .message b {
    color: #F42534; }

.info ul {
  width: 244px;
  background-color: #ECECEC;
  list-style-type: none;
  padding: 14px 30px;
  margin: auto;
  border-radius: 10px;
  font-size: 11px;
  line-height: 1.8; }

.info .legend-data {
  color: #F42534;
  font-weight: 900;
  width: 115px;
  display: inline-block; }

.info .data {
  display: inline-block;
  color: #646569; }

.icon-row-init img {
  width: 297px !important; }

.icon-row img {
  display: inline-block;
  margin: .25rem auto;
  width: 144px; }

.icon-row th.columns {
  padding-bottom: 0; }

.message-recom p {
  margin-bottom: 0.5rem; }

.message-recom th.columns {
  padding-bottom: 0; }

.box-icon {
  padding-bottom: 0 !important;
  margin-bottom: 30px; }

.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 155px; }

.btn-modificar-clave {
  margin-top: 16px;
  margin-bottom: 0; }

.footer-button {
  font-size: 10px !important;
  margin-top: 1rem; }
  .footer-button a {
    color: #359FDA; }
  .footer-button img {
    display: inline-block;
    width: 20px; }

.footer {
  background-color: #F42534;
  height: 43px; }
  .footer img {
    float: right;
    margin: 12px; }
  .footer a {
    color: #FFF !important;
    font-size: 10px;
    font-weight: 700;
    margin: 14px;
    display: inline-block; }
  .footer th.columns {
    padding-bottom: 0 !important; }

.link-modificar-clave a {
  font-size: 8px !important; }

hr {
  width: 90%; }

.message-encuesta h1 {
  color: #F42534;
  font-weight: 900; }

.message-encuesta h2 {
  color: #359FDA;
  font-size: 12px;
  font-weight: 700; }

.message-encuesta p {
  margin-bottom: 16px; }

.cont-votacion {
  width: 90%;
  margin: 1rem auto;
  text-align: center; }
  .cont-votacion img {
    display: inline-block; }
  .cont-votacion a {
    margin: 0.2rem; }

.disclaimer img {
  margin-top: 0.5rem; }

.disclaimer th.columns {
  padding-bottom: 0; }

.row-app {
  background-color: #F1F1F1;
  padding: 0.5rem 0; }
  .row-app th.columns {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0; }

.message-borde h1 {
  margin-top: 1rem; }

.message-borde img {
  margin: auto;
  margin-top: 1rem; }

.message-borde p {
  margin-bottom: 1rem; }

.message-borde ul {
  color: #646569;
  width: 304px;
  font-size: 12px; }

/* Helpers */
.blue {
  color: #359FDA; }

.red {
  color: #F42534; }
